<!DOCTYPE html>
<html>
  <head>
    <title>Tarot Reading</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="login-container">
        <h1>Tarot Reading</h1>
        <img src="https://i.imgur.com/AdoK0Wp.png" alt="hand over cup" class="landing-image">
        <ul class="landing-login">
          <% if (user) { %>
          <li><a href="/">Home</a></li>
          <li><a href="/readings">View all saved readings</a></li>
            <li>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login with Google</a>
            <% } %>
            </li>
        </ul>
