<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascript/materialize.js"></script>
    <script defer src="/javascript/javascript.js"></script>
    <title>Read Tarot!</title>
  </head>
  <body>
    <% if (user) { %>
     <nav class="amber most" role="navigation">
       <div class="nav-wrapper container">
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/readings/new">Do a one-card Tarot reading!</a></li>
              <li><a href="/readings">View all saved readings</a></li>
            </ul>
              <ul class="right hide-on-med-and-down">
                  <li> <a href="/logout"><i class="material-icons right align-icon">lock</i> Log Out</a></li>
              </ul>

            <ul id="nav-mobile" class="sidenav amber">
              <li><a href="/">Home</a></li>
              <li><a href="/readings/new">Start a Reading</a></li>
              <li><a href="/readings">See All Readings</a></li>
              <li><a href="/logout"><i class="material-icons right align-icon">lock</i>Log Out</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
          </nav>

      
            <% } else { %>
              <div class="col s12 center-index">
                <section class="header-logo-landing center-index">
                  <h3>Tarot Diary</h3>
                  <img src="/images/logo.png" class="site-logo-landing" alt="queen of cups logo">
                  <ul class="landing-login most align center-index">
                      <a href="/auth/google">
                        <li><i class="material-icons left align-icon">vpn_key</i>Login with Google</li>
                    </a>
                  </ul>

                  </section>
                </div>
            <% } %>
