<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascript/materialize.js"></script>
    <title>Read Tarot!</title>
  </head>
  <body>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>

    <% if (user) { %>
      <div class="row">
      <div class = "col s12 m4 l2">
        <section class="header-logo">
          <img src="/images/logo.png" class="site-logo" alt="queen of cups logo">
        </section>
          <h6>Queen of Cups</h6> 
          <h6>Tarot Diary</h6>
        <ul class="landing-login most center-index">
          <li><a href="/">Home</a></li>
          <li><a href="/readings/new">Do a one-card Tarot reading!</a></li>
          <li><a href="/readings">View all saved readings</a></li>
            <li>
                <a href="/logout"><i class="material-icons">lock</i>Log Out</a>
              </ul>
            </div>
            <% } else { %>
              <div class="col s12 offset-1 center-index">
                <section class="header-logo-landing center-index">
                  <h1>Queen of Cups</h1>
                  <h3>Tarot Diary</h3>
                  <img src="/images/logo.png" class="site-logo-landing" alt="queen of cups logo">
                </section>    
                  <ul class="landing-login most">
                <li><a href="/auth/google"><i class="material-icons">vpn_key</i>
                  Login with Google</a>
                </li>
              </ul>
            </div>
            <% } %>
