<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascript/materialize.js"></script>
    <title>Rerouting...</title>
</head>
<body>
<div class="col s12 offset-s4">  
    <img src="https://i.imgur.com/Z0QZaKk.jpg" title="404 not found" class="half-size responsive-image">  
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
</body>
</html>

