<%- include('./partials/header') %>
<div class="readings-nav">
    <% if (user) { %>
        <a href="/readings/new">Do a one-card Tarot reading!</a>
    <% } %>
</div>
<%- include('./partials/footer') %>
