<%- include('../partials/header') %>
        <form action="/readings/question" method="GET">
            <label>
               <p>What would you like to ask?</p>
            </label>  
            <input type="text" name="question">
            <input type="submit" value="Pull a card">
        </form>           
<%- include('../partials/footer') %>
