<%- include('../partials/header') %>
<div class="col s12 m4 l8">
        <form action="/readings/question" method="POST">
            <label>
               <p>What would you like to ask?</p>
            </label>  
            <input type="text" name="question">
            <button type="submit">Pull a Card</button>
        </form>     
    </div>      
<%- include('../partials/footer') %>