.header-logo {
  width: 20rem;
  overflow: hidden;
}
.header-logo-landing {
  width: 40rem;
  overflow: hidden;
}
.site-logo-landing {
  margin: -3rem;
  max-height: 50%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.header-logo .site-logo {
  margin: -3rem;
  max-height: 50%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #B89663;
  color: #280000;
}

a {
  color: #AD22CD;
  text-decoration: none;
}

a:hover {
  color: #CEB82E;
}

label, input {
  color: white;
  font-size: 250%;
  margin: 1%;
  padding: 1%
}

input {
  font-weight: bold;
}

/* * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Homemade Apple', cursive;
}

body {
  background-color: #B89663;
  color: #280000;
}

a {
  color: #AD22CD;
  text-decoration: none;
}

a:hover {
  color: #CEB82E;
}

.login-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  padding: 10vh;
}

.readings-nav {
  display: flex;
  align-self: flex-start;
}

.landing-image {
  height: 55vh;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  margin: 0;
}

.lost-container {
  font-family: 'Homemade Apple', cursive;
  background-image: url('https://i.imgur.com/Z0QZaKk.jpg');
  box-sizing: border-box;
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  justify-content: center;
  align-items: center;
} */
