html {
  font-family: "Roboto", sans-serif;
  font-family: "Homemade Apple", cursive;
}

h6 h5 h4 h3 h2 h1,
.some {
  font-family: "Homemade Apple" !important;
}

.most {
  font-family: "Roboto", sans-serif;
}

.center-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  max-height: 20%;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.header-logo-landing {
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  width: 40rem;
  overflow: hidden;
}
.site-logo-landing {
  margin: -3rem;
  max-height: 50%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.half-size {
  max-height: 50%;
  max-width: 50%;
}

body {
  background-color: #b89663;
  color: #280000;
}

a,
nav li a,
.sidenav li > a {
  color: #ad22cd;
  text-decoration: none;
}

a:hover {
  color: #ceb82e;
}

nav ul li a:hover,
.sidenav li > a:hover,
a > .material-icons:hover {
  color: #ceb82e;
  background-color: #ad22cd;
}

label,
input {
  color: #280000; 
  font-size: 150%;
  margin: 1%;
  padding: 1%;
}

input {
  font-weight: bold;
}

.input-field .prefix.active {
  color:#280000;
}

.btn-pull {
 background-color:#280000;
}

.center-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0% 2% 0%;
}

.inline-icons {
  display: inline-flex;
  vertical-align: middle !important;
  align-items: center;
}

.align-icon {
  margin-top: -0.2rem;
}

.align {
  vertical-align: top;
  margin-top: -2rem;
}